#inputtext {
    width: 100%;
    height: 5;
    background: $panel;
    color: $text;
    border: solid #ccc;
    dock: bottom;
}

#messages {
    overflow-y: auto;
    background: $panel;
    color: $text;
}
